# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
/projects/.vs/projects.slnx/copilot-chat
/projects/.vs/projects.slnx/FileContentIndex
/projects/ucdbgen/ARM64
/projects/unipiper/ARM64
/projects/ucdbdemo/ARM64
/projects/ucdbdemo/ARM64
/projects/ucdbdemo/ARM64
/projects/opentyper/ARM64
/projects/.vs/projects/CopilotIndices
/projects/.vs/projects/CopilotIndices
